body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #001aff;
}

#delete-form {
  display: inline-block;
  margin-right: 5px;
}
#edit-form button {
  color: green;
 
};

#delete-form button {
  color: red;
}

li {
  list-style: none;
}